[Desktop Entry]
Comment=运行源码版
Exec=bash /app-assets/scripts/run-src.sh
GenericName=
Icon=/app-assets/logo.ico
MimeType=
Name=MDCx源码版
Path=/app
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
