# 时区
TZ=Asia/Shanghai
# 语言
LANG=zh_CN.UTF-8

# 内置应用的镜像tag
MDCX_BUILTIN_IMAGE_TAG=latest
# 容器服务名称
MDCX_BUILTIN_SERVICE_NAME=mdcx_builtin_gui
# 容器名称
MDCX_BUILTIN_CONTAINER_NAME=mdcx_builtin_gui

# 自部署应用的镜像tag
MDCX_SRC_IMAGE_TAG=latest
# 容器服务名称
MDCX_SRC_SERVICE_NAME=mdcx_src_gui
# 容器名称
MDCX_SRC_CONTAINER_NAME=mdcx_src_gui

# 容器名称（方便脚本使用）
MDCX_CONTAINER_NAME=mdcx_gui


APP_NAME=MDCx
APP_VERSION=

# 应用窗口宽度
DISPLAY_WIDTH=1200
# 应用窗口高度
DISPLAY_HEIGHT=750

# 访问密码，如不需要，留空。如果有在公网远程访问的需求，建议设置
VNC_PASSWORD=

# 网页访问端口
WEB_PORT=5800
# VNC监听端口
VNC_PORT=5900

# 运行应用的用户ID，通过`id -u`命令可以查看当前用户ID，`id -u user1`则可以查看用户user1的用户ID
USER_ID=0
# 运行应用的用户组ID，通过`id -g`命令可以查看当前用户组ID，`id -g user1`则可以查看用户user1的用户组ID
GROUP_ID=0

# python软件包加速镜像
# 豆瓣
PYPI_MIRROR=https://pypi.doubanio.com/simple
# 清华
# PYPI_MIRROR=https://pypi.tuna.tsinghua.edu.cn/simple
# 默认
# PYPI_MIRROR=https://pypi.org/simple

# PyQt5版本，暂时发现`5.15.6`不需要编译
PYQT5_VERSION=5.15.6