[Desktop Entry]
Categories=System;FileManager;
Comment=打开MDCx配置文件目录
Exec=dolphin /mdcx-config
GenericName=
Icon=folder-build
MimeType=
Name=配置文件
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
