[Desktop Entry]
Comment=运行已编译版本
Exec=/app-assets/start-mdcx.sh
GenericName=
Icon=/app-assets/logo.ico
MimeType=
Name=MDCx
Path=/app
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=